In [1]:
import pandas as pd

In [2]:

df = pd.read_csv("./data/data_2023_4_24.csv")

df.head()

  Pupil Diameter (relative)                 time
0      [28.437772750854492]  2023-04-24 10:58:34
1      [28.279672622680664]  2023-04-24 10:58:34
2       [28.70917320251465]  2023-04-24 10:58:34
3      [29.117496490478516]  2023-04-24 10:58:34
4      [28.445585250854492]  2023-04-24 10:58:34